* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #121215;
  overscroll-behavior: none;
}

.header {
  height: 96px;
  color: rgb(13, 12, 34);
  font-family: monospace;
  padding-left: 10px;
  line-height: 55px;
}

.header > .to {
  color: #dee0fa;
  font-size: 30px;
}

.header > .do {
  color: #7c55f6;
  font-size: 30px;
}

.main {
  /* height: calc(100vh - 96px); */
  height: auto;
  background-color: #18181c;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  position: relative;
  padding-bottom: 40px;
}

.container {
  width: 100%;
}

.todoHeader {
  color: #8688c8;
  padding-top: 20px;
  padding-left: 15px;
}

.task {
  background-color: #2e2d36;
  height: auto;
  width: 100%;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-right: 19px;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.innerTask {
  width: 100%;
  display: flex;
  align-items: center;

  gap: 15px;
}

.icon {
  padding-left: 5px;
}

.para-not-complete {
  color: #dedffa;
  font-size: 20px;
  text-decoration: line-through;
  word-break: break-all;
}

.para {
  color: #dedffa;
  font-size: 20px;
  word-break: break-all;
}

.lasticon {
  margin-left: auto;
  padding-right: 5px;
}

.footer {
  margin-top: 10px;
  margin-left: 15px;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 7px;
}

.btn {
  border: 2px solid #7b57f7;
  color: #dee0fb;
  background-color: #7b57f7;
}

.modal .ant-modal-title {
  color: #7c55f6;
  background-color: #121215;
}

.modal .ant-modal-content {
  background-color: #121215;
}
.modal .ant-form-item-control-input-content {
  background-color: #121215;
}
.modal .ant-input {
  background-color: #2e2d36;
  color: wheat;
  border: 2px solid #2e2d36;
}

.modal .ant-modal-close-x {
  color: white;
}

.modal .ant-btn {
  background-color: #7b57f7;
  border: 1px solid #7b57f7;
  color: white;
}
